{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

{% block page_css %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

{% endblock %}

  <div class="">
    <div class="row">
      <div class="col-xs-4 col-sm-6 col-md-6 col-lg-8">
        <div class="row">
            <h1 class="display-4">Map</h1>
        </div>
        <div class="row">

          {% if map_path == None %}
            <div class="card border-secondary" style="min-width: 340px; max-width: 1000px;">
              <div class="card-body">
                <h5 class="card-title">Select Map</h5>
                <h6 class="card-subtitle mb-2 text-muted">Select Map to Display</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <table class="table table-hover">
                      {% for map in maps %}
                        <tr>
                          <td>{{ map.map_name }}</td>
                          <td>
                            <form action="/select_map" method="POST">
                              <button type="submit" class="btn btn-secondary pull-right" name="display_map" value="{{ map.id }}">Select Map</button>
                            </form>
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  </li>
                </ul>                
                
              </div>
            </div>

          {% else %}
            <img src="{{ map_path }}" alt="Display Map">
          {% endif %}

        </div>
      </div>
      <div class="col-xs-4 col-sm-6 col-md-6 col-lg-4">

          <h1 class="display-4">Run</h1>
          <div class="card border-secondary" style="min-width: 300px; ">
            <h5 class="card-header">Select Run Options</h5>
            <div class="card-body">
              

              <!-- Form to run tasks -->
              <form action="/run_tasks" method="POST">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h5 class="card-title">Map</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ map_name }}</h6>
                  </li>

                  <li class="list-group-item">
                    <h5 class="card-title">Tasklist</h5>
                    
                      <select class="form-control" name="tasklist" id="tasklist" data-width="200px">
                        {% for tasklist in tasklists %}
                          <option>{{ tasklist.tasklist_name }}</option>
                        {% endfor %}
                      </select>
                  </li>
                  <li class="list-group-item">
                    <h5 class="card-title">Robots</h5>
                    <div class="form-group">
                      <select multiple class="selectpicker" data-width="200px" name="robotlist" id="robotlist">
                          {% for robot in robots %}
                            <option>{{ robot.robot_name }}</option>
                          {% endfor %}
                        </select>
                    </div>

                  </li>
                  <li class="list-group-item">
                    <button type="submit" class="btn btn-info">Run</button>
                  </li>
                </ul>
              </form>

            </div>
            <div class="card-footer text-muted">
              <form action="/reselect_display" method="POST">
                <a href="#" onclick="document.forms[1].submit();return false;"class="card-link">Reselect Map</a>
              </form>
            </div>
          </div>

      </div>
    </div>

      <!-- Display list of robots -->
    <div class="row">
      <div class="col col-xs-4">
          <h1 class="display-4">Robot List</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Robot</th>
                <th scope="col">Type</th>
                <th scope="col">IP Address</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for robot in robots %}
                <tr>
                  <td>{{ robot.id }}</td>
                  <td>{{ robot.robot_name }}</td>
                  <td>{{ robot.robot_type }}</td>
                  <td>{{ robot.ip_address }}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" data-toggle="modal" data-target="#updateRobotDetails" href="#">Update</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#deleteRobot" href="#">Delete</a>
                      </div>
                    </div>
                  </td>
                  <!-- Modal for Update-->
                  <div class="modal fade bd-example-modal-lg" id="updateRobotDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Update Robot - {{ robot.robot_name }} - Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="container-fluid">
                              <div class="row justify-content-around">
                                <div class="col-4">
                                  <input type="text" class="form-control" placeholder="Robot Name" value="{{ robot.robot_name }}">
                                </div>
                                <div class="col-4">
                                  <input type="text" class="form-control" placeholder="Robot Type" value="{{ robot.robot_type }}">
                                </div>
                                <div class="col-4">
                                  <input type="text" class="form-control" placeholder="IP Address" value="{{ robot.ip_address }}">
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal for Delete-->
                  <div class="modal fade bd-example-modal-lg" id="deleteRobot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete Robot - {{ robot.robot_name }}?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary">Yes</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Don't Delete Robot {{ robot.robot_name }}</button></button>
                        </div>
                      </div>
                    </div>
                  </div>
              </tr>
              {% endfor %}

            </tbody>
          </table>
      </div>

      <!-- Display Tasklists -->
      <div class="col col-xs-4">
        <h1 class="display-4 float-left">Tasklists</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tasklist Name</th>
              <th scope="col">Waypoints</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for tasklist in tasklists %}
              <tr>
                <td>{{ tasklist.id }}</td>
                <td>{{ tasklist.tasklist_name }}</td>
                <td>{{ tasklist.waypoint_count }}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" data-toggle="modal" data-target="#deleteTasklist" href="#">Delete</a>
                    </div>
                  </div>
                </td>

                <!-- Modal for Delete-->
                <div class="modal fade bd-example-modal-lg" id="deleteTasklist" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete Tasklist {{  tasklist.tasklist_name  }}?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <form action="/delete_tasklist" method="POST">
                          <button type="submit" class="btn btn-secondary" name="tasklist_id" value="{{  tasklist.id  }}">Yes</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal">No, Don't Delete Tasklist {{  tasklist.tasklist_name  }}.</button></button>
                        </form> 
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


{% endblock %}
