{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block page_css %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/static/login.css" rel="stylesheet">
{% endblock %}

{% block script %}
    function checkFields()
    {
        if (!session["username"])
        {
            let first_field = document.querySelector('#username').value;
        }
        else
        {
            let first_field = document.querySelector('#old_password').value;
        }
        let password = document.querySelector('#password').value;
        if (username === "")
        {        
            if (!session["username"])
            {
                alert("Please provide your username");
            }
            else
            {
                alert("Please provide your old password");
            }
        }

        else if (password === "")
        {
            alert("Please provide a new password");
        }
        else if (confirmation === "")
        {
            alert("Please confirm your new password");
        }
        
        if (password != confirmation)
        {
            alert("Passwords must match");
            return false;
        }
        return true;
    }
{% endblock %}

{% block main %}
    <div class="wrapper fadeInDown">
        <span class="card" style="width: 18rem;">
            <div class="card-body">

                    <h5 class="card-title text-left">Change Password</h5>
                    <form action="/change_password" onsubmit="checkFields();" method="POST">
                        {% if not session["username"] %}
                            <div class="form-group">
                                <input autocomplete="off" autofocus class="form-control" id ="username" name="username" placeholder="Username" type="text">
                            </div>
                        {% else %}
                            <div class="form-group">
                                <input autocomplete="off" autofocus class="form-control" id ="old_password" name="old_password" placeholder="Old Password" type="password">
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input class="form-control" id ="password" name="password" placeholder="New Password" type="password">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id ="confirmation" name="confirmation" placeholder="New Password (again)" type="password">
                        </div>
                        <button class="btn btn-primary" type="submit">Change Password</button>
                    </form>

            </div>
        </span>
    </div>

{% endblock %}
