{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block page_css %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/static/login.css" rel="stylesheet">
{% endblock %}

{% block script %}
    function checkFields()
    {
        let username = document.querySelector('#username').value;
        let password = document.querySelector('#password').value;
        if (username === "")
        {
            alert("Please provide a username");
        }
        else if (password === "")
        {
            alert("Please provide a password");
        }
        return true;
    }
{% endblock %}

{% block main %}
    <div class="wrapper fadeInDown">
        <span class="card" style="width: 18rem;">
            <div class="card-body">

                    <h5 class="card-title text-left">Forgot Password</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-left">Sign in with administrator account to reset password</h6>
                    <form action="/forgot_password" onsubmit="checkFields();" method="POST">
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" id ="username" name="username" placeholder="Username" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id ="password" name="password" placeholder="Password" type="password">
                        </div>
                        <button class="btn btn-primary" type="submit">Log In as Administrator</button>
                    </form>

            </div>
        </span>
    </div>

{% endblock %}
