{% extends "layout.html" %}

{% block title %}
    Robots
{% endblock %}

{% block main %}
<main>

  <div style="margin-bottom: 70px;">
      <h1 class="display-4 float-left">Robot List</h1>
      <!-- Button to Add a New Robot -->
      <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#addRobot" href="#">
        Add New Robot
      </button>

      <!-- Modal to Add a New Robot-->
      <div class="modal fade bd-example-modal-lg" id="addRobot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add New Robot</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Form for adding new robot -->
            <form action="/robots" method="POST" enctype="multipart/form-data">

              <div class="modal-body">  
                <div class="form-row form-inline align-items-center">
                  <div class="col-auto my-1">
                    <label for="robot_name">Robot Name</label>
                    <input type="text" class="form-control" name="robot_name" id="robot_name" placeholder="Robot Name" type="text">
                  </div>
                  <div class="col-auto my-1">
                    <label for="robot_type">Robot Type</label>
                    <input type="text" class="form-control" name="robot_type" id="robot_type" placeholder="Robot Type" type="text">
                  </div>
                  <div class="col-auto my-1">
                    <label for="ip_address">IP Address</label>
                    <input type="text" class="form-control" name="ip_address" id="ip_address" placeholder="IP Address" type="text">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add New Robot</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>

  <!-- Display Robots -->
  <div class="col-md-auto">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Robot</th>
          <th scope="col">Type</th>
          <th scope="col">IP Address</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
       {% for robot in robots %}
          <tr>
              <td>{{ robot.id }}</td>
              <td>{{ robot.robot_name }}</td>
              <td>{{ robot.robot_type }}</td>
              <td>{{ robot.ip_address }}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" data-toggle="modal" data-target="#updateRobotDetails" href="#">Update</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#deleteRobot" href="#">Delete</a>
                  </div>
                </div>
              </td>
              <!-- Modal for Update-->
              <div class="modal fade bd-example-modal-lg" id="updateRobotDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Update Robot - {{ robot.robot_name }} - Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- Form to update robot -->
                    <form action="/update_robot" method="POST">
                      <div class="modal-body">  
                        <div class="form-row form-inline align-items-center">
                          <div class="col-auto my-1">
                            <label for="robot_name">Robot Name</label>
                            <input type="text" class="form-control" name="robot_name" id="robot_name" placeholder="{{ robot.robot_name }}" value="{{ robot.robot_name }}">
                          </div>
                          <div class="col-auto my-1">
                            <label for="robot_type">Robot Type</label>
                            <input type="text" class="form-control" name="robot_type" id="robot_type" placeholder="{{ robot.robot_type }}" value="{{ robot.robot_type }}">
                          </div>
                          <div class="col-auto my-1">
                            <label for="ip_address">IP Address</label>
                            <input type="text" class="form-control" name="ip_address" id="ip_address" placeholder="{{ robot.ip_address }}" value="{{ robot.ip_address }}">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="robot_id" value="{{  robot.id  }}">Save changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Modal for Delete-->
              <div class="modal fade bd-example-modal-lg" id="deleteRobot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete Robot - {{ robot.robot_name }}?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <form action="/delete_robot" method="POST">
                        <button type="submit" class="btn btn-secondary" name="robot_id" value="{{  robot.id  }}">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Don't Delete Robot {{ robot.robot_name }}</button></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </tr>
        {% endfor %}

      </tbody>
    </table>
</div>
</div>

</main>
{% endblock %}
